<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merchex</title>
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
   
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
             <li><a href="#">Contact</a></li>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Se connecter</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>